{include file="public/header" /}
{include file="public/menu" /}
<div class="centBox">
	<div class="neiye clearfix">
		<div class="neiyeL">
			<div class="banL noel">
				<div class="lanmu">
					<ul>
						<li><a href="#">合作社介绍</a></li>
						<li><a href="{:url('cooperation/jieshao')}">产品介绍</a></li>
						<li><a href="{:url('cooperation/jishu')}">技术支持</a></li>
						<li><a href="{:url('cooperation/qianjing')}">行业前景</a></li>
						<li><a href="{:url('cooperation/zhifu')}">致富故事</a></li>
						<li><a href="{:url('cooperation/jidi')}" class="xuanz">生产基地</a></li>
					</ul>
				</div>
			</div>
			<div class="dianhua">
				<div class="dianhua_top">联系电话</div>
				<div class="dianhua_text">
					联  系  人：陈波 （总裁） <br />
					电       话 ：86 0838 7102727<br />
					移动电话 ：	138-8180-1576<br />
					传       真 ：86 0838 7102771<br />
					地       址 ：	中国 四川 德阳市四川省德阳市中江县双龙镇                </div>
			</div>
		</div>
		<div class="neiyeR">
			<div class="neiBT">
				<span class="mianT_span">生产基地 | BASE</span>
			</div>
			<div class="base clearfix">
				<img src="__STATIC__/index/text/17.gif" alt="" />
				<img src="__STATIC__/index/text/18.gif" alt="" />
				<img src="__STATIC__/index/text/19.gif" alt="" />
			</div>
		</div>
	</div>
</div>
{include file="public/footer" /}